<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <style>
        a {
            color: black;
        }

        a:hover {
            color: black;
        }

        a:visited {
            color: black;
        }

        #main-screen {
            margin: 70px;
            font-family: 'Inter', 'Roboto', 'Helvetica', sans-serif;
        }

        @media (max-width: 768px) {
            #main-screen {
                margin: 45px;
            }
        }

        @media (max-width: 480px) {
            #main-screen {
                margin: 20px;
            }
        }
    </style>
</head>
<body>
<div id="main-screen">
    <h4>recowrite</h4>
    <div style="text-align: center">
        <h1>New login to recowrite</h1>
    </div>
    <p>Hi there, {{username}}! We noticed a new login to your account.</p>
    <p>If this was you, you can simply ignore this email, but if not we recommend changing your password in
        <a href="http://localhost:5173/dashboard">the dashboard</a>.</p>
    <br />
    <hr />
    <div style="text-align: center; color: gray; font-size: smaller">
        <p>©2025 recowrite</p>
    </div>
</div>
</body>
</html>