<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <style>
        #main-screen {
            margin: 70px;
            font-family: 'Inter', 'Roboto', 'Helvetica', sans-serif;
        }

        @media (max-width: 768px) {
            #main-screen {
                margin: 45px;
            }
        }

        @media (max-width: 480px) {
            #main-screen {
                margin: 20px;
            }
        }
    </style>
</head>
<body>
<div id="main-screen">
    <h4>recowrite</h4>
    <div style="text-align: center">
        <h1>Security update</h1>
    </div>
    <p>Hi there, {{username}}! Your password has been changed.</p>
    <p>If you did not request this, please contact us immediately.</p>
    <br />
    <p style="margin-bottom: 0;">Best regards,</p>
    <p style="margin-top: 0.25rem;"><strong>The recowrite team</strong></p>
    <hr/>
    <div style="text-align: center; color: gray; font-size: smaller">
        <p>©{{year}} recowrite</p>
    </div>
</div>
</body>
</html>